<div class="view-wrapper view-wrapper--center">
  <div class="view-content">
    <div class="mus-info">
      <h2>Mus Editor</h2>
    
      <input #title class="title" type="text" [(ngModel)]="mus.title">
    </div>
  
    <div class="notes-wrapper">
      <h3>Notes</h3>
      <ul>
        <li *ngFor="let note of mus.notes; let i = index">
          <div class="note" [ngClass]="{'note--active': activeNote === i}">
            <input #input type="text" maxlength="2" [value]="note" [(ngModel)]="mus.notes[i]">
          </div>
        </li>
      </ul>
      <div class="buttons-wrapper">
        <button [ngClass]="{'note--active': activeNote > -1}" (click)="play()" title="Play">Play</button>
        <button (click)="stop()" title="Stop">Stop</button>
      </div>
      <button (click)="save()" title="Save">Save</button>
    </div>
  </div>
</div>
