h2 {
  margin-bottom: 40px;
}

h3 {
  margin-bottom: 20px;
}

ul {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 40px;
}

li {
  max-width: 50px;
  width: 100%;
  margin-right: 10px;
  background-color: #45414f;

  &:last-of-type {
    margin-right: 0;
  }
}

.select {
  height: 100%;
  width: 100%;

  button {
    height: 100%;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
  }

  &__toggle {
    color: #fafafa;
    border: none;
  }

  &__options {
    z-index: 2;
    max-height: 340px;
    overflow: auto;
    display: none;
    background-color: #45414fe0;

    &--open {
      display: block;
    }
  }

  &__option {
    padding: 10px;
    color: #fff;
    cursor: pointer;

    &:hover {
      background-color: #fff;
      color: #45414f;
    }
  }
}

.mus-info {
  margin-bottom: 40px;
}

.title {
  font-size: 20px;
  padding: 8px 12px;
}

.notes-wrapper {
  margin-bottom: 40px;
}

.note {
  max-width: 50px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  input {
    width: 100%;
    text-align: center;
    height: 40px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #0000001c;
  }

  &--active {
    background-color: #45414f;
    color: #fafafa;
    border: 1px solid #45414f;

    .select {
      background-color: #fafafa;

      button {
        color: #45414f;
      }
    }

    input {
      color: #fafafa;
      border: 1px solid #fafafa;
    }
  }
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  
  button {
    max-width: none;
    font-size: 20px;
  }
}

input[type='file'] {
  display: none;
}
